<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8" />
    <title>Weather x AngularJS</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script> 
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
    <script src="app.js"></script>
    <link rel="stylesheet" href="style.css" />
  </head>
<body>

  <div id="background">

    <div id="top-left">
      <div id="time">
      </div>
    </div>

    <div id="top-right">
      <div id="date">
      </div>
    </div>

    <input name="search" type='text' id='cityName' placeholder='Search city' autocomplete="off">

  
   <div id="content">
      <div id='forecast'>
      </div>
   </div>
    


  </div>
 

</body>
</html>

<!-- 
<html ng-app="weatherApp">
  <head>
    <meta charset="utf-8" />
    <title>Weather x AngularJS</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script> 
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
    <script src="app.js"></script>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body ng-controller="weatherForecastCtrl">
      <div class="input">       
          <input type="text" ng-model="cityName" autofocus placeholder="Check weather in..">
      </div>
      <h1 ng-show="cityName">Weather in {{ city }}, {{loc.city.country}}</h1>
      <section class="forecast">
          <div ng-repeat-start="day in forecast" ng-if="$first" ng-show="city" class="today">
            <h2>
              Today
              <br>{{day.weather[0].main}}
              <span ng-hide="checked"><br>{{day.temp.day | number: 0}}°C</span>
              <span ng-hide="!checked"><br>{{day.temp.day *(9/5)+32 | number: 0}}°F</span>
              <br>{{day.humidity}}%
              <span ng-hide="checked"><br>{{day.speed | number: 2}} km/h</span>
              <span ng-hide="!checked"><br>{{day.speed * 0.621371 | number: 2}} mph</span>
            </h2>
          </div>
          <div ng-repeat-end ng-show="city" ng-if="!first">
            <h3>
              {{day.dt *1000 | date: 'EEEE'}}
              <br>{{day.weather[0].main}}
              <span ng-hide="checked"><br>{{day.temp.day | number: 0}}°C</span>
              <span ng-hide="!checked"><br>{{day.temp.day *(9/5)+32 | number: 0}}°F</span>
              <br>{{day.humidity}}%
              <span ng-hide="checked"><br>{{day.speed | number: 2}} km/h</span>
              <span ng-hide="!checked"><br>{{day.speed * 0.621371 | number: 2}} mph</span>
            </h3>
          </div>
    </section>
  </body>
</html>
 -->